body {
    text-align: center;
}

li {
    background-color: skyblue;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 25%;
    width: 50%;
    text-align: center;
    list-style: none;
}

div {
    background-color: skyblue;
    width: 25%;
    height: 5em;
    padding: 5px;
    margin: 20px;
    float: left;
}

div p {
    margin: 0;
    margin-bottom: 4px;
}

div h6 {
    margin: 0;
    margin-bottom: 5px;
}