/*
 * General Styles
*/


body {
  background: url('../images/background.png');
  background-color: black;
  background-repeat: no-repeat;
  background-size: 100%;
  font-family: 'Open Sans', arial, sans-serif;
  color:white;
}

* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

p {
  font-size: 16px;
  line-height: 1.75;
  margin-bottom: 28px;
}

strong {
  font-weight: bold;
}

ul li {
  list-style: decimal inside;
}

/*
 * Heading Styles
*/


h1, h2 {
  font-family: 'Lobster', cursive;
  color: #e22f2f;
  text-align: center;
  margin-bottom: 32px;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

/*
 * Container Styles
*/

.container {
  width: 600px;
  margin: 100px auto;
}

/*
 * Hero Styles
*/

.hero {
  line-height: 0;
}

.hero img {
  width: 100%;
  border-radius: 20px 20px 0 0;
}

/*
 * Section Styles
*/

section.summary, section.yagami, section.amane {
  padding: 1rem;
}

section:nth-child(2n+3) {
  background: rgb(16, 16, 16);
}
section:nth-child(2n+2) {
  background: rgb(48, 48, 48);
}

/*
 * Aside Styles
*/

aside.left {
  float: left;
}

aside img {
  width: 10rem;
  margin: 0.5em;
  border-left: 2px ridge #AAA;
  border-bottom: 2px ridge #AAA;

  border-top: 2px ridge #555;
  border-right: 2px ridge #555;
  border-radius: 10px;
}

/*
 * Footer Styles
*/

footer mark.red {
  color:#e22f2f;
  background: none;
}
